.footer {
	position: bottom;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: blue;
   color: white;
   text-align: center;
   padding: 2px;
}
.mainbox{
	text-align: center;
	padding: 10px;
}
.maintitle{
	color: red;
}
.mainlabel{
	color:#fa8130;
}
.maintitlesize{
	font-size:2.5rem;
}
.mainlabelsize{
	font-size:1.25rem;
}

.dare_container{
	margin: 5px auto;
	padding: 2px;
	background-color: #d7eff2;
	border: 2px solid #70a3cd;
	width: 60%;
}
.questionbox{
	margin: 5px;
	padding: 10px;
	background-color: #ffffce;
	border: 2px solid #fc8c67;
	text-align: left;
}
.ansbox{
	background-color:white;
	padding: 10px;
	border: 1px solid black;
}
.slection_btn{
	background-color:#e7e7e7;	
}
.removal_btn{
	background-color:#fc8c67;	
}