@charset "ISO-8859-1";


.footer {
	position: bottom;
	left: 0;
   bottom: 0;
   width: 100%;
   background-color: #8888ff;
   color: white;
   text-align: center;
   padding: 2px;
}
.mainbox{
	text-align: center;
	padding: 10px;
}
.maintitle{
	color: red;
}
.mainlabel{
	color:#fa8130;
}
.maintitlesize{
	font-size:2rem;
}
.mainlabelsize{
	font-size:1rem;
}

.slection_btn{
	background-color:#e7e7e7;	
}
.removal_btn{
	background-color:#fc8c67;	
}
.cnfbx_container{
	margin: 5px auto;
	padding: 2px;
	background-color: #d7eff2;
	border: 2px solid #70a3cd;
}
.divgap{
	margin-top: 100px;
}

/* copy div style */
.share-page-link-div{
	margin: 2px;
	padding: 2px;
}
.link_share{
	display:inline-block;
	padding:5px;
}

/* Popup container - can be anything you want */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}