@charset "ISO-8859-1";


.footer {
	position: bottom;
	left: 0;
   bottom: 0;
   width: 100%;
   background-color: #8888ff;
   color: white;
   text-align: center;
   padding: 2px;
}
.mainbox{
	text-align: center;
	padding: 10px;
}
.maintitle{
	color: red;
}
.mainlabel{
	color:#fa8130;
}
.maintitlesize{
	font-size:2rem;
}
.mainlabelsize{
	font-size:1rem;
}

.slection_btn{
	background-color:#e7e7e7;	
}
.removal_btn{
	background-color:#fc8c67;	
}
.cnfbx_container{
	margin: 5px auto;
	padding: 2px;
	background-color: #d7eff2;
	border: 2px solid #70a3cd;
}
.divgap{
	margin-top: 100px;
}