{% extends 'base.html' %}
{% load static %}
{% block dareyou %}
<div class="container mainbox">
	<div class="maintitle">
		<p class="maintitlesize" >What your Friends</p>
		<p class="mainlabelsize">know about you?</p>
	</div>
	<img src="{% static '/DareYou/img/friendship.jpg' %}" alt="friendship" width="130px"	height="130Px" />
	<div style="margin-top: 100px"></div>
	<div class="mainlabel">
		<p class="maintitlesize">create dare</p>
		<p class="mainlabelsize">and check thinking of your friends</p><br/>
	</div>
	<a href="create/" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">create dare</a>
</div>
{% endblock %}
