{% extends 'base.html' %}
{% load static %}
{% block dareyou %}
<div class="container mainbox">
	<div class="maintitle">
		<p class="maintitlesize">Select Questions</p>
		<p class="mainlabelsize">What your friends know about you {{un}}?</p>
		<span id="error_msg"></span>
	</div>

	<form id="selection_form" method="post" action="/dareyou/select_q/" onsubmit="return validation({{q_dict.items|length}})">
		{% csrf_token %}
		<div class="dare_container">
			{%	for q_id, q_quest in q_dict.items %}
				<div class="questionbox">
					<div>{{q_id}}<span>.)</span>&nbsp{{q_quest}}</div>
					<div style="margin-top:25px;"></div>
					<div style="text-align: center;">
						<input type="button" style="background-color:#e7e7e7;" id="s{{q_id}}" onclick="selected({{q_dict.items|length}}, '{{q_id}}')" value='Select'/>
					</div>
				</div>
			{% endfor %}
		</div>
		<input type="submit" style="margin-top:10px;" class="btn btn-primary btn-md active" value="Submit">
	</form>
	<div><input class="btn btn-primary btn-md active" style="margin-top:10px;" type="button" onclick="clearstorage({{q_dict.items|length}})" value="Clear Selection"/></div>
	<script type="text/javascript" src="{% static 'DareYou/js/myjs.js' %}"></script>
</div>
{% endblock %}
