{% extends 'base.html' %}
{%load static %}
{% block content %}
<div class="container mainbox">
<p class="maintitle maintitlesize">Now, Share your Dare</p>
<img src="{% static '/DareYou/img/friendship.png' %}" alt="friendship" width="130px"	height="130Px" />
<div style="margin-top: 50px"></div>

{%	for q_id, q_quest in selected_q_list.items %}
<div class="questionbox">
<div style="text-align:left;">{{q_id}}<span>.)</span>&nbsp{{q_quest}}</div>
</div>
{% endfor %}

<p class="maintitle mainlabelsize">Your Dare Link</p>
<h5>{{dare_url}}</h5>
<a href='{{dare_url}}'>share your dare</a>
<p class="maintitle mainlabelsize">Your Friends will send you Screenshot</p>
</div>
{% endblock %}
