{% extends 'base.html' %}
{%load static %}
{% block dareyou %}
<div class="container mainbox">
	<p class="maintitle maintitlesize">Now, Share your Dare</p>
	<img src="{% static '/DareYou/img/friendship.jpg' %}" alt="friendship" width="130px"	height="130Px" />
	<div style="margin-top: 50px"></div>
	
	<p class="maintitle mainlabelsize">Your Dare</p>
	<div class="dare_container">
		{%	for q_id, q_quest in selected_q_list.items %}
			<div class="questionbox">
			<div style="text-align:left;">{{q_id}}<span>.)</span>&nbsp{{q_quest}}</div>
			</div>
		{% endfor %}
		
		<p class="maintitle mainlabelsize">Your Dare Link</p>
		<h5>{{dare_url}}</h5>
		<a href='{{dare_url}}'>Share your dare</a>
	</div>
	<p class="maintitle mainlabelsize">Your Friends will send you Screenshot</p>
</div>
{% endblock %}
