{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Lets Dare</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="{% static 'DareYou/css/css_bootstrap/bootstrap.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'DareYou/css/mystyles.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'ConfessionBox/css/cb_stylesheet.css' %}"/>
<script type="text/javascript" src="{% static 'DareYou/js/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'DareYou/js/js_bootstrap/bootstrap.js' %}"></script>
</head>
<body>
<!--Main Navigation-->
<header>

  <nav id="mainNavbar" class="navbar navbar-expand-md navbar-dark bg-primary" >
  <a class="navbar-brand" href="/">Lets Dare | ConfessionBox</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/cnfbx/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about_us/">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact_us/">Contact Us</a>
      </li>
    </ul>
  </div>
</nav>

</header>
<!--Main Navigation-->
<div>
{% block cnfbx %}
<h1>Block Content of cnfbx</h1>
{% endblock %}
</div>
 <footer class="footer">
   <div class="container text-center">
     <small>Copyright &copy; Lets Dare</small>
   </div>
 </footer>
 <script type="text/javascript" src="{% static 'ConfessionBox/js/cnfbx.js' %}"></script>
<script type="text/javascript">
       $(document).ready(function() {
		// get current URL path and assign 'active' class
		var pathname = window.location.pathname;
		$('nav div ul li a[href="'+pathname+'"]').parent().addClass('active');
	})
</script>
</body>
</html>