{% extends 'cb_base.html' %}
{% load static %}
{% block cnfbx %}
<div class="container-fuild mainbox">
		<div class="maintitle">
			<p class="maintitlesize">What your Friends</p>
			<p class="mainlabelsize">know about you?</p>
		</div>
		<img src="{% static '/DareYou/img/friendship.png' %}" class="rounded" alt="friendship" width="130px" height="130Px" />
	<div class="divgap"></div>
	<div class="row">
	<div class="col-lg-3 col-sm-2"></div>
	<div class="col-lg-6 col-sm-8">

	<div class="mainlabel">
		<p class="maintitlesize">Create Confession Box</p>
		<p class="mainlabelsize">and check thinking of your friends</p><br />
	</div>
	<a href="/cnfbx/cb_create/" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Create Confession Box</a>
	</div>
	<div class="col-lg-3 col-sm-2"></div>
	</div>
</div>
{% endblock %}