{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container mainbox">
<p class="maintitle maintitlesize">Lets play Confession Box.</p>
<img src="{% static '/DareYou/img/friendship.png' %}" alt="friendship" width="130px"	height="130Px" />
<div style="margin-top: 50px"></div>
<form id="formUser" method="post" action="/cnfbx/play_quiz/{{quiz_id}}/" onsubmit="return validate('formUser','userName');">
{% csrf_token %}
<label class="mainlabel mainlabelsize">Enter Your Name :</label>
<input id="userName" name="userName" value="{{un}}"><br/>
<span id="userNameMsg"></span><br/>
<button class="btn btn-primary btn-lg active" style="margin-top: 15px;" role="button" aria-pressed="true" type="submit">Start</button>
</form>
<div>
{% if is_player %}
<a href='{{user_played_cnfbox_url}}'>Played Confession Box</a>
{% endif %}
</div>
</div>
<script type="text/javascript" src="{% static 'DareYou/js/myjs.js' %}"></script>
{% endblock %}
