{% extends 'cb_base.html' %}
{%load static %}
{% block cnfbx %}
<div class="container-fuild mainbox">
	<p class="maintitle maintitlesize">Now, Share your Confession Box</p>
	<img src="{% static '/DareYou/img/friendship.jpg' %}" alt="friendship" class="rounded" width="130px"	height="130Px" />
	<div class="mb-5"></div>
	<div class="row">
		<div class="col-lg-3 col-sm-2"></div>
		<div class="col-lg-6 col-sm-8">
			<p class="maintitle maintitlesize">{{un}}'s Confession Box</p>
			{% for cnfbox_items in cnfboxes %}
				<div class="cnfbx_container rounded">
					{%	for q_id, q_quest in cnfbox_items.selected_q_list.items %}
						<div class="questionbox">
						<div>{{q_id}}<span>.)</span>&nbsp{{q_quest}}</div>
						</div>
					{% endfor %}
					<p class="mainlabel mainlabelsize">Your Confession Box</p>					
					<div class="share-page-link-div">
						<div class="link_share" id="linkDiv"><h6>{{cnfbox_items.cnf_dare_url}}</h6></div>
					   	<div class="btn btn-info popup" onclick="copyShareLink()">Copy link
  							<span class="popuptext" id="popupmsg">Share link copied!</span>
						</div>
					 </div>
					<h6><a href="{{cnfbox_items.cnf_dare_url}}">Share this Confession Box</a></h6>
					<h6><a href="{{cnfbox_items.result_view_url}}">Result of Confession Box</a></h6>
					<div class="mb-2"></div>
				</div>
				<div class="mb-3"></div>
			{% endfor %}
			{% if cnfboxes|length <= 0 %}
				<div class="cnfbx_container rounded">
						<div class="mainlabel mainlabelsize p-2">Confession Box not found.</div>
				</div>
				<div class="mb-3"></div>
			{% endif %}
			{% if is_player %}
			<h6><a href="/cnfbx/user_played_cnfbox/{{user_alias_id}}/">See your results of Confession Box</a></h6>
			{% endif %}
		</div>
		<div class="col-lg-3 col-sm-2"></div>
	</div>
</div>
{% endblock %}
